@charset "UTF-8";
/* amarillo claro*/
.imagenFranquicia h3, .imagenFranquicia .parrafoFranquicia {
  text-align: center;
  color: black; }

/* SECCION GALERIA */
.imagenes {
  height: auto;
  min-width: auto;
  background-color: #D4AC0D;
  display: grid;
  grid-template-columns: auto 33% 33%;
  grid-template-rows: auto auto;
  grid-template-areas: "foto1 foto2 foto3" "foto6 foto4 foto5";
  row-gap: 1px;
  column-gap: 10px; }
  .imagenes .imagenUno {
    grid-area: foto1; }
  .imagenes img {
    width: 100%;
    height: auto; }
  .imagenes .imagenDos {
    grid-area: foto2; }
  .imagenes .imagenTres {
    grid-area: foto3; }
  .imagenes .imagenCuatro {
    grid-area: foto6; }
  .imagenes .imagenCinco {
    grid-area: foto5; }
  .imagenes .imagenSeis {
    grid-area: foto4; }

/*FOOTER*/
.footerNav {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px; }
  .footerNav .logoRedes {
    display: flex;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    margin-bottom: 0px;
    height: 40px;
    width: 50px; }
  .footerNav #copy {
    text-align: center; }
    .footerNav #copy a {
      list-style: none;
      text-decoration: none;
      color: white; }

h2 {
  margin-top: 50px; }

/*FORMULARIO*/
.formularioTamaño {
  min-width: auto; }

/* FRANQUICIA */
.imagenFranquicia {
  min-width: auto;
  height: 100vh;
  background-image: url(../imagenes/choco.jpg);
  background-size: cover; }
  .imagenFranquicia h3 {
    font-weight: bold;
    font-size: 300%;
    padding-top: 15%;
    margin-bottom: 5%; }
  .imagenFranquicia .parrafoFranquicia {
    font-style: italic;
    font-size: 1.3rem; }
  .imagenFranquicia a {
    text-decoration: none; }
    .imagenFranquicia a button {
      display: flex;
      justify-content: center;
      margin-left: 45%;
      margin-top: 5%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Montserrat, Helvetica, sans-serif;
  height: 100vh;
  min-width: auto; }

.logo {
  width: 140px;
  height: 80px; }

#navMenu a:hover {
  color: #F1C40F; }

.contenedor1 {
  width: 20%;
  background-color: black; }

.imagenTexto {
  height: 100vh;
  width: 100%;
  background-image: url(../imagenes/imagenAlfajor.jpeg);
  background-size: cover;
  text-align: center;
  color: #F6F7BB; }
  .imagenTexto .contenedor {
    width: 100%;
    text-align: center; }
    .imagenTexto .contenedor .bienvenidos {
      text-align: left;
      font-weight: bold;
      font-size: 130%;
      padding-bottom: 15%;
      padding-left: 20px; }
  .imagenTexto p {
    text-align: justify;
    font-size: 1.2rem;
    margin-left: 10%; }

/* INICIO PRODUCTOS */
.subtitulo {
  font-size: 25px;
  text-align: center;
  color: #1B2631; }

.main {
  height: auto;
  min-width: 100vh; }
  .main .mainSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px; }
    .main .mainSection .mainDiv {
      width: 100%;
      display: flex;
      flex-direction: row; }
      .main .mainSection .mainDiv .article {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 5%;
        border: 1px solid black;
        border-radius: 20px;
        font-size: 16px;
        text-align: center; }
        .main .mainSection .mainDiv .article h4 {
          padding-top: 10%;
          padding-left: 0%;
          color: #17202A; }
        .main .mainSection .mainDiv .article .cardTitle {
          padding-left: 3px;
          padding-right: 3px; }
        .main .mainSection .mainDiv .article img {
          width: 100%;
          border-radius: 18px 18px 0px 0px; }

/* FIN PRODUCTOS */
/* MEDIA QUERIES */
@media only screen and (max-width: 992px) {
  .imagenTexto {
    background-image: url(../imagenes/imagenAlfajorMobile.jpeg);
    background-size: cover; }
  /* INICIO GALERIA*/
  .imagenes {
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto 300px;
    grid-template-areas: "foto1 foto2"  "foto3 foto4" "foto5 foto6"; }
  /* FIN GALERIA*/
  /*INICIO PRODUCTOS*/
  .main {
    height: auto;
    min-width: 100vh; }
    .main .mainSection {
      flex-direction: row; }
      .main .mainSection .mainDiv {
        width: 50%;
        flex-direction: column; }
        .main .mainSection .mainDiv .article {
          width: 70%;
          margin: 15%;
          font-size: 17px;
          text-align: center; }
  /*FIN PRODUCTOS*/ }

@media only screen and (max-width: 768px) {
  p {
    margin: 5%; }
  .imagenFranquicia h3 {
    font-size: 100%; }
  /* INICIO GALERIA*/
  .imagenes {
    grid-template-columns: auto 50%;
    grid-template-rows: auto 300px; }
  /* FIN GALERIA*/
  /*INICIO PRODUCTOS*/
  .main {
    height: auto;
    min-width: auto; }
    .main .mainSection {
      display: flex;
      flex-direction: column; }
      .main .mainSection .mainDiv {
        width: 50%;
        display: flex;
        flex-direction: column; }
        .main .mainSection .mainDiv .article {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 50%;
          font-size: 17px;
          text-align: center; }
  /*FIN PRODUCTOS*/ }

@media only screen and (max-width: 768px) {
  /* INICIO GALERIA*/
  .imagenes {
    grid-template-columns: auto 50%;
    grid-template-rows: auto 300px; }
  /* FIN GALERIA*/ }

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 180%; }
  /* INICIO GALERIA*/
  .imagenes {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "foto1"  "foto2"  "foto3"  "foto4" "foto5" "foto6";
    row-gap: 0px;
    column-gap: 0px; }
  /* FIN GALERIA*/
  /* INICIO PRODUCTOS*/
  .main {
    height: auto;
    min-width: auto; }
    .main .mainSection {
      display: flex;
      flex-direction: column; }
      .main .mainSection .mainDiv {
        width: 50%;
        display: flex;
        flex-direction: column; }
        .main .mainSection .mainDiv .article {
          width: 120%;
          display: flex;
          flex-direction: column;
          margin-left: 50%;
          font-size: 17px;
          text-align: center; }
  /* FIN PRODUCTOS*/ }

@media only screen and (max-width: 420px) {
  h1 {
    font-size: 130%; }
  /* INICIO PRODUCTOS */
  .main {
    height: auto;
    min-width: auto; }
    .main .mainSection {
      display: flex;
      flex-direction: column; }
      .main .mainSection .mainDiv {
        width: 50%;
        display: flex;
        flex-direction: column; }
        .main .mainSection .mainDiv .article {
          width: 150%;
          display: flex;
          flex-direction: column;
          margin-left: 25%;
          font-size: 17px;
          text-align: center; }
  /* FIN PRODUCTOS */ }
